In [1]:
from cv2 import line, putText, FONT_HERSHEY_SIMPLEX
import numpy as np


def draw_tracks(sequence : np.array, tracks_data : np.array) -> np.array:
    '''
    Function that draw the tracks given the sequence and the array of tracks
    
    Input:
        - squence: array of shape (N,H,W,C)
            N: number of frames
            H: Height
            W: Width
            C: Channel (empty if grayscale)
        - tracks_data: array where:
                            tracks_data[0] track_id
                            tracks_data[1] x
                            tracks_data[2] y
                            tracks_data[3] fluorescence
                            tracks_data[4] frame
    
    Ouput:
        - seq_out: array of shape (N,H,W,C) 
    '''
    frames, H, W = sequence.shape[0:3]
    seq_out = sequence.copy()
    
    if len(sequence.shape) < 4:
        seq_out = np.zeros((frames, H, W, 3))
        seq_out[:, :, :, 0] = sequence.copy()
        
    tracks_id = (np.unique(tracks_data[:, 0])).tolist()
    
    font                   = FONT_HERSHEY_SIMPLEX
    bottomLeftCornerOfText = (10,500)
    fontScale              = 0.5
    fontColor              = (255,255,255)
    lineType               = 1

    
    tracks = []
    for track_id in tracks_id:
        data_track = tracks_data[tracks_data[:, 0]==track_id]
        coord = np.ones((frames, 4)) * -1
        coord[np.uint(data_track[:, 4])] = data_track[:, 0:4]
        tracks.append(coord)
    colors = np.random.uniform(0, 255, (len(tracks_id), 3))
    
    for frame in range(frames):
        start = 1
        if frame > 5:
            start = frame - 5
        for i in range(start,frame+1):
            
            for tr, track in enumerate(tracks):
                if track[i,1]>0 and track[i-1,1]>0:
                    line(seq_out[frame], (int(track[i-1,1]),int(track[i-1,2]) ), (int(track[i,1]),int(track[i,2]) ), colors[tr])
            
                    fontColor = colors[tr]
                    coord = (int(track[frame,1]) + 5,int(track[frame,2]) + 5)
                    putText(seq_out[frame],'Id: %d, F : %d' % (track[frame,0], track[frame,3]), 
                            coord, 
                            font, 
                            fontScale,
                            fontColor,
                            lineType)
                    
    return np.uint8(seq_out)

In [2]:
import pandas as pd
import tifffile
from imageio import mimwrite as mp4_writer

in_sequence = tifffile.TiffFile("seq.tif")
sequence = in_sequence.asarray()
data = pd.read_csv("tracks.csv")
data = (data.to_numpy())[:, 0:5]
data_in = np.zeros((data.shape[0], 5))
data_in[:, (0, 1, 2, 4)] = data
seq_tracks = draw_tracks(sequence, data_in)
mp4_writer("output.mp4", seq_tracks, format="mp4", fps=5.)

In [9]:
data

      track_id    x    y  frame
0            0  126  390     11
1            1  203  501     11
2            2  102  355     12
3            0  125  390     12
4            1  203  501     12
...        ...  ...  ...    ...
7562       243  470  332    119
7563       237  400  290    119
7564       247  156  281    119
7565       246  216  441    119
7566       248   34  388    119

[7567 rows x 4 columns]

In [10]:
data_in

array([[  0, 126, 390,  11],
       [  1, 203, 501,  11],
       [  2, 102, 355,  12],
       ...,
       [247, 156, 281, 119],
       [246, 216, 441, 119],
       [248,  34, 388, 119]])