In [13]:
import cv2
import numpy as np


def draw_tracks(sequence : np.array, tracks : np.array) -> np.array:
    '''
    Function that draw the tracks given the sequence and the array of tracks
    
    Input:
        - squence: array of shape (N,H,W,C)
            N: number of frames
            H: Height
            W: Width
            C: Channel (empty if grayscale)
        - tracks: array where:
                            tracks[0] track_id
                            tracks[1] x
                            tracks[2] y
                            tracks[3] frame
    
    Ouput:
        - seq_tracks: array of shape (N,H,W,C) 
    '''
    seq_tracks = np.zeros(sequence.shape)
    tracks = np.sort(tracks)
    tracks = 
    for frame in range(N):
        
    
    return

In [53]:
import pandas as pd
import tifffile

in_sequence = tifffile.TiffFile("seq.tiff")
sequence = in_sequence.asarray()
data = pd.read_csv("seq_data.csv")
data_in = (data.to_numpy())[:, 0:4]

#seq_tracks = draw_tracks(sequence, data_in)

In [54]:
data_in

array([[    0.        ,   288.56580917,    85.04807989,     0.        ],
       [   19.        ,   415.79042079,    98.65623323,     0.        ],
       [   21.        ,   148.79381555,    31.43564774,     0.        ],
       ...,
       [10542.        ,   202.20276002,   337.74952153,    99.        ],
       [11252.        ,   437.3452522 ,   122.46965707,    99.        ],
       [10241.        ,   151.60814867,   470.01553968,    99.        ]])

In [55]:
data

      id_particle           x           y  frame   intensity
0             0.0  288.565809   85.048080    0.0  109.399054
1            19.0  415.790421   98.656233    0.0  197.035487
2            21.0  148.793816   31.435648    0.0  195.312304
3            23.0   30.399964  506.487635    0.0  234.223694
4            25.0   13.965733  497.912690    0.0  140.269156
...           ...         ...         ...    ...         ...
1312       8947.0  348.967271  296.826313   99.0  212.559710
1313      11149.0  432.184418  451.472797   99.0  203.160279
1314      10542.0  202.202760  337.749522   99.0  241.553577
1315      11252.0  437.345252  122.469657   99.0    8.831953
1316      10241.0  151.608149  470.015540   99.0   76.593400

[1317 rows x 5 columns]